@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Lobster&family=Montserrat&family=Noto+Sans+Warang+Citi&display=swap');

body {
    font-family: "Lobster";
    background-color: #003b6f;
    color: antiquewhite;
}

a {
    text-decoration: none;
    color: antiquewhite;
}
a:hover{
    color: #000000;

}
.coffee:hover{
    background-color: #7F8C8D  ;
}

